.section-heading{
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categories{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.category{
    height: 175px;
    margin: 5px;
    padding: 10px;
    background-color: rgba(87, 185, 226, 0.592);
    border-radius: 10px;
}

.category:hover{
    background: rgb(88, 136, 232);/* #E55246; */
}

.category img{
    width: 100px;
    margin: auto;
}

.category-title{
    text-align: center;
    
}

     