.bg {
  
    background-color: rgb(176, 211, 220);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    background-size: cover;

  }
  .gradient-custom {
  
    background: #2b96dd;;
    
    
    background: -webkit-linear-gradient(to top left, #2b96dd, rgba(246, 243, 255, 1));
    
   
    background: linear-gradient(to top left, #2b96dd, rgba(246, 243, 255, 1))
    }


   