.password-bg{
	background-color: rgb(95, 188, 201);
	height: 100vh;
}

.passform-container{
    width: 31.25em;
	position: relative;
	margin: auto;
	top: 1em;
    /* text-align: center; */
}

.passform-wrapper{
    width: 31.25em;
	background-color: #f8f8f8;
	padding: 2em 3.75em;
	border-radius: 0.7em;
	box-shadow: 0 1em 4em rgb(71, 50, 4, 0.3);
	align-self: center;
}
