.form-wrapper{
    padding-left: 75px;
    padding-right: 50px;
    margin-top: 60px;
}

.form-wrapper h4{
    padding-bottom: 20px;
}

Form.Group{
    margin-bottom: 50px;
}

.bill-card{
    margin-right: 50px;
    margin-top: 60px;
    background-color: rgba(196, 208, 230, 0.685);
    border-radius: 10px;
}

.submit-button{
    text-align: center;
    margin-top: 50px;
}

.submit-button Button{
    border-radius: 10px;
    width: 500px;
}