
#bottom {
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #2F3042;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    height: 110px;
  }
  
  prebutton {
    margin-top: 16px;
    border: 1px dashed rgba(128, 128, 128, 0.4);
    height: 75px;
    cursor: pointer;
    color: #f1f1f1;
    background-color: #2f3042;
    width: 230px;
    transition: background-color, 0.3s, ease-in-out;
  }
  
  prebutton:hover {
    background-color: #333447;
    color: white;
  }
  
  prebutton:hover svg {
    opacity: 1;
  }
  
  prebutton:focus {
    outline: 0;
  }
  
  prebutton > svg {
    width: 25px;
    vertical-align: middle;
    margin-right: 8px;
    opacity: 0.7;
    fill: white;
    transition: opacity, 0.3s, ease-in-out;
  }